.parallax {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");


  /* Full height */
  height: 180%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#heading {
  width: 100%;
  height: 155px; 
  background-color: #f8f8f8;
  opacity: 80%; 
  top: 0;
  left: 0;
  z-index: 9999;
}

#navigationBar {
  position:fixed;
  width: 100%;
  height: 48px; 
  background-color: #f8f8f8;
  opacity: 80%; 
  top: 50;
  left: 0;
  z-index: 9999;
  align-items: center;
}

body {
  text-align: center;
  background-color: transparent;
  color: rgb(159, 137, 83);
}

#map {
    height: 300px;
    width: 60%;
  }

#location_map {
    position: relative;
    display:flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    margin-top: 150px;
    padding-top: 20px;
  }

h1 {
    font-family: 'Pacifico',cursive;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

h2 {
    font-family: 'Bebas Neue', cursive;
}

h3 {
    font-family: 'Bebas Neue',cursive;
  }

button {
    font-size: 20px;
    border: 1px solid;
    border-radius: 5px;
    background-color: transparent;
    border-color: rgb(183, 152, 74);
    color:rgb(159, 137, 83) ;
    font-family: 'Bebas Neue', cursive;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
}

#addressForm {
  font-family: 'Bebas Neue', cursive;
}

.gallery {
  height: 400px;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 150px;
}