#map {
  height: 300px;
  width: 60%;
}

#mainMap {
  margin-top: 40px;
  width: 440px;
  height: 440px;
  position: relative;
  z-index: 3;
}

#location_map {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
  margin-top: px;
}

#addressForm {
  font-family: "Bebas Neue", cursive;
}

#photosCarousel {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
}
.gallery {
  height: 400px;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 150px;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
}

#caption {
  font-family: "Bebas Neue", cursive;
  font-size: larger;
  color: antiquewhite;
}

.hotels {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
}

#hotelMap {
  width: 550px;
  height: 300px;
}

.hotels {
  display: flex;
  flex-flow: column;
}

#heading {
  margin-top: 12vh;
}
